.body {
    height: 100%;
    overflow: hidden;
}

.main {
    height: calc( 100% - 96px);
}

.mainCon {
    height: 100%;
}

.container {
    padding: 2rem;
    height: calc( 100% - 4rem);
}

.AllList {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: calc( 100% - 40px);
}

.AllList::-webkit-scrollbar {
    display: none;
}

.AllList ul {
    list-style: none;
}
.AllList > div{
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
    color: #ccc;
}

.AllListTit li {
    line-height: 40px;
    border-bottom: 0;
    list-style: none;
    background: #eee;
}

.AllList li {
    line-height: 60px;
    border-bottom: 1px solid #F0F0F0;
}


.AllListTit li span,
.AllList li span {
    display: inline-block;
    text-align: center;
    color: #3F3F3F;
}

.AllList li span.state_apply {
    color: #ffCC33;
}

.AllList li span.state_develop {
    color: #0099cc;
}

.AllList li span.state_payment {
    color: #339933;
}

.AllList li span.state_paying {
    color: #cc66cc;
}

.AllList li .payMoney {
    color: #ff6666;
    width: 50%;
    text-align: right;
    margin: 0 auto;
    letter-spacing: 1px;
}

.AllList li .payMoney:before {
    content: "-";
}

.AllListTit li span:nth-child(1),
.AllList li span:nth-child(1) {
    width: 4%;
}

.AllListTit li span:nth-child(2),
.AllList li span:nth-child(2) {
    width: 6%;
}

.AllListTit li span:nth-child(3),
.AllList li span:nth-child(3) {
    width: 10%;
}

.AllListTit li span:nth-child(4),
.AllList li span:nth-child(4) {
    width: 24%;
    padding: 0 1%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

.AllListTit li span:nth-child(5),
.AllList li span:nth-child(5) {
    width: 10%;
}

.AllListTit li span:nth-child(6),
.AllListTit li span:nth-child(7),
.AllListTit li span:nth-child(8),
.AllListTit li span:nth-child(9),
.AllList li span:nth-child(6),
.AllList li span:nth-child(7),
.AllList li span:nth-child(8),
.AllList li span:nth-child(9) {
    width: 8%;
}

.AllListTit li span:nth-child(10),
.AllList li span:nth-child(10) {
    width: 10%;
}

.AllList li > span{
    vertical-align: middle;
}

.AllList li > span > div.loadingColor,
.AllList li > span > div.yesColor{
    border: 1px solid #ff6666;
    width: 110px;
    height: 36px;
    border-radius: 18px;
    margin: 0 auto;
}

.AllList li > span > div.loadingColor{
    border-color: #feb7b8;
}

.AllList li span .yesBtn {
    display: block;
    height: 100%;
    width: 110px;
    border-radius: 17px;
    color: #ff6666;
    line-height: 34px;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
}

.AllList li span .yesBtn:hover {
    background: #ff6666;
    color: #fff;
}

.AllList li span .loadingBtn {
    display: block;
    height: 30px;
    border-radius: 15px;
    width: 104px;
    transition: width 1.8s ease-in-out;
    background-color: #feb7b8;
    background-image: repeating-linear-gradient(-45deg, #feb7b8, #feb7b8 12px, #ffcccc 12px, #ffcccc 24px);
    background-size: 600px 100%;
    animation: loading 12s linear infinite;
    margin: 3px auto 0;
}

@keyframes loading {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 600px 0%;
    }
}