.header {
	height: 95px;
	border-bottom: 1px solid #F0F0F0;
}

.header .header-left {
	color: #3f3f3f;
	font-size: 1.8rem;
	line-height: 95px;
	text-indent: 2rem;
	display: inline-block;
	width: calc(100% - 300px);
}

.header .header-left span:nth-child(2) {
	padding: 0 5rem;
}

.header .header-left span:nth-child(2) span {
	color: #ff6666;
	font-size: 3rem;
	padding: 0 1rem;
}

.header .header-left span:nth-child(2) a {
	color: #ff6666;
	margin-left: 2rem;
	padding: .6rem 1.6rem;
	border: 1px solid #ff6666;
	border-radius: 3px;
	text-decoration: none;
	font-size: 1.6rem;
	vertical-align: top;
}

.header .header-left span:nth-child(2) .applyBtn {
	background: #ff6666;
	color: #FFFFFF;
}

.header .header-right {
	display: inline-block;
	width: 300px;
	text-align: center;
}

.header .header-right a {
	color: #336699;
	font-size: 1.8rem;
	padding: 0 2rem;
}

#content {
	padding: 2rem;
}