.body {
    overflow: hidden;
    height: 100%;
}

.main {
    height: calc( 100% - 96px);
}

.mainCon {
    height: 100%;
}

.container {
    padding: 2rem;
    height: calc( 100% - 4rem);
}

.BillList {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: calc( 100% - 40px);
}

.BillList::-webkit-scrollbar {
    display: none;
}

.BillList > div{
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
    color: #ccc;
}

.BillList li {
    border-bottom: 1px solid #f0f0f0;
    line-height: 60px;
}

.BillListTit li {
    line-height: 40px;
    border-bottom: 0;
    list-style: none;
    background: #eee;
}

.BillListTit li span,
.BillList li span {
    display: inline-block;
    width: 19.2%;
    text-align: center;
    color: #3F3F3F;
}

.BillListTit li span:nth-child(1),
.BillList li span:nth-child(1) {
    width: 4%;
}

.BillList li .pay,
.BillList li .reChange {
    width: 50%;
    text-align: right;
    margin: 0 auto;
    letter-spacing: 1px;
}

.BillList li .pay {
    color: #ff6666;
}

.BillList li .pay::before {
    content: "-";
}

.BillList li .reChange {
    color: #339933;
}

.BillList li .reChange::before {
    content: "+";
}

.BillList li span a {
    color: #336699;
    padding: 6px 12px;
    cursor: pointer;
}
.BillList li span a:hover {
    background: #336699;
    color: #ffffff;
    border: 0;
}
