* {
	margin: 0;
	padding: 0;
}

html,
body {
	position: relative;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 14px;
	font-family: sans-serif;
}

#loginBox {
	position: absolute;
	left: 55%;
	top: 50%;
	margin-top: -300px;
	z-index: 10;
	width: 380px;
	height: 540px;
	border: 1px solid #fff;
}

#LoginCard {
	height: 540px;
	width: 380px;
	border: 1px solid #aaa;
	position: relative;
	top: 8px;
	left: 8px;
}

#LoginCard .logo {
	margin: 80px auto 40px;
	width: 80%;
}

#LoginCard .logo img {
	width: 60px;
	height: 60px;
	display: block;
	margin: 0 auto;
	background: #FFFFFF;
	padding: 6px;
	border-radius: 6px;
}

#LoginCard .logo h1,
#LoginCard .logo h3 {
	color: #FFFFFF;
	text-align: center;
	cursor: default;
}

#LoginCard .logo h1 {
	font-weight: 500;
	margin-top: 30px;
}

#LoginCard .logo h3 {
	font-weight: 300;
	margin-top: 10px;
}

#LoginCard .loginMes {
	margin: 0 auto;
	width: 50%;
}

#LoginCard .loginMes .message{
	color: red;
	text-align: center;
	padding-left: 0;
}

#LoginCard .loginMes>div {
	padding-left: 32px;
	height: 32px;
	text-align: right;
	margin-top: 24px;
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: left bottom;
}

#LoginCard .loginMes .username {
	background-image: url(../img/username.png);
}

#LoginCard .loginMes .password {
	background-image: url(../img/password.png);
}

#LoginCard .loginMes>div>input {
	border: none;
	border-bottom: 1px solid #FFFFFF;
	background: transparent;
	height: 100%;
	width: 90%;
	color: #FFFFFF;
	font-size: 16px;
	padding: 0 0.5rem;
}

#LoginCard .loginMes input:focus {
	outline: none;
}

#LoginCard .loginMes .loginBtn:hover {
	animation: .5s loginBtn;
	background: #FFFFFF;
	color: rgba(225, 225, 225, 0);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

#LoginCard .loginMes .login {
	padding-left: 0;
	border-radius: 16px;
	border: 1px solid #FFFFFF;
	margin-top: 50px;
}

#LoginCard .loginMes .loginBtn {
	margin-top: -1px;
	border: 1px solid #FFFFFF;
	height: 32px;
	line-height: 32px;
	text-align: center;
	width: 100%;
	border-radius: 16px;
	padding-left: 0;
	cursor: pointer;
	color: #FFFFFF;
}

#LoginCard .loginMes .loginBtn a {
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	height: 100%;
	width: 100%;
}

#LoginCard .loginMes .login:hover {
	background: #FFFFFF;
	animation: .6s loginBg;
}

#LoginCard .loginMes .loginBtn:hover {
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-image: url(../img/background.png);
	animation: .6s loginBtn;
}

@keyframes loginBtn {
	from {}
	to {
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		background-image: url(../img/background.png);
	}
}

@keyframes loginBg {
	from {
		background: transparent;
	}
	to {
		background: #FFFFFF;
	}
}